# dependencies
/node_modules
/docs/node_modules
/packages/**/node_modules

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# testing
/coverage
/packages/**/coverage

# logs
logs
*.log
/packages/**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.vscode
.idea
.DS_Store
*.pem
Thumbs.db
/@tmp

# production
/optimized
/export

/packages/**/dist
/packages/@bitrix24-icons-vue/src/metadata.json
/packages/@bitrix24-icons-vue/src/info-metadata.json
/packages/@bitrix24-icons-react/src/info-metadata.json
/packages/@bitrix24-icons-react/src/metadata.json

docs/auto-imports.d.ts
docs/components.d.ts
docs/.output
docs/.nuxt
docs/.data
docs/dist

/src/backup

# TypeScript
*.tsbuildinfo

# local env files
.env
